# Local Terraform directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform override files
override.tf
override.tf.json
*_override.tf
*__override.tf.json

# Local variable files
*.tfvars
*.tfvars.json

# CLI configuration files
.terraformrc
terraform.rc

# Log files
*.tflog

# Crash log files
crash.log

# Ignore local workspace files
.terraform-workspace
